// RESPONSIVE (VIEWPORT SIZES)
$minWidth: 600px !default;
$maxWidth: 900px !default;

// COLORS HSL(Hue, Saturation, Lightness)
:root {
	--color: 210; // Apple System Blue Dark (210)
	--saturation: 100%;
	--mainColor: hsl(var(--color), var(--saturation), 52%);
	--darkColor: hsl(var(--color), var(--saturation), 5%); // My Black
	--lightColor: hsl(var(--color), var(--saturation), 99%); // My White
	--alertColor: hsl(35, var(--saturation), 50%); // Apple System Light Orange
	--dangerColor: hsl(0, var(--saturation), 65%);
	--successColor: hsl(120, 80%, 40%);
	// COLORS LIGHT MODE
	--backgroundColor: hsl(var(--color), var(--saturation), 99%); // My White
	--foregroundColor: hsl(var(--color), var(--saturation), 5%); // My Black
	--shadow: 3px 3px 6px rgba(0, 0, 0, 0.5), -1px 3px 6px rgba(0, 0, 0, 0.5);
	--shadowSM: 1px 1px 3px rgba(0, 0, 0, 0.5), -1px 1px 3px rgba(0, 0, 0, 0.5);
}

// COLORS DARK MODE
@media (prefers-color-scheme: dark) {
	:root {
		--backgroundColor: hsl(var(--color), var(--saturation), 5%); // My Black
		--foregroundColor: hsl(var(--color), var(--saturation), 99%); // My White
		--shadow: 3px 3px 6px rgba(250, 250, 250, 0.3),
			-1px 3px 6px rgba(250, 250, 250, 0.3);
		--shadowSM: 1px 1px 3px rgba(250, 250, 250, 0.3),
			-1px 1px 3px rgba(250, 250, 250, 0.3);
	}
}
