@import '../styles/styles.scss';

.chat-container {
	position: relative;
	width: 100vw;
	max-width: $maxWidth;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: var(--backgroundColor);
	color: var(--foregroundColor);
	overflow: hidden;
	z-index: 0;

	.header {
		position: fixed;
		top: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: $maxWidth;
		height: 5vh;
		min-height: 2.3rem;
		margin: 0 auto;
		background-color: var(--mainColor);
		z-index: 2;

		img {
			height: 80%;
			margin: auto 0.5rem;
		}

		.nav {
			display: flex;

			.signout,
			.info {
				display: flex;
				height: 100%;
				min-width: 60px;
				margin: auto 0;
				cursor: pointer;
				// border: 2px solid;

				svg {
					@include size(28px, 36px);
					fill: var(--lightColor);
					margin: auto;
					transition: 0.5s;

					&:hover {
						transform: scale(1.2);
						fill: var(--alertColor);
					}
				}
			}
		}
	}
	.main {
		position: relative;
		width: 100%;
		height: 89vh;
		margin-top: 5vh;
		padding: 0.5em;
		color: black;
		overflow: scroll;
		z-index: 1;
	}
	.footer {
		position: relative;
		display: flex;
		width: 100%;
		height: 6vh;
		min-height: 2.8rem;
		padding: 0 0.6em;
		margin: 0;
		background-color: var(--mainColor);
		z-index: 2;
	}
}

button.modal-card {
	background-color: var(--lightColor);
	padding: 1rem 3rem;
	border: none;
	box-shadow: var(--shadow);
	border-radius: 2rem;
	z-index: 20;

	h3 {
		@include font-size(50px, 70px);
		color: var(--mainColor);
		margin: auto;
		cursor: pointer;
		z-index: 30;
	}
}

@include mQ(768px) {
	.chat-container {
		.footer {
			height: 6vh;
			min-height: 4rem;
		}
	}
}

@include mQ(1200px) {
	.chat-container {
		.footer {
			height: 6vh;
		}
	}
}
