@import '../styles/styles.scss';

.modal-card {
	position: relative;
	margin: 1em;
	padding: 2.4em 1.5em 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	background-color: var(--backgroundColor);
	box-shadow: var(--shadow);

	.close {
		position: absolute;
		top: 10px;
		right: 10px;

		svg {
			width: 1.8em;
			height: 1.8em;
			fill: var(--foregroundColor);
		}
	}

	h2 {
		@include font-size(30px, 32px);
		color: var(--mainColor);
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	p {
		@include font-size(19px, 26px);
		color: var(--foregroundColor);
		width: 100%;
		margin: 0.8em auto;
	}

	a.copyright {
		@include font-size(16px, 24px);
		position: absolute;
		left: 50%;
		bottom: 1.5em;
		transform: translateX(-50%);
		color: rgba(125, 125, 125, 1);
		text-decoration: none;
		cursor: pointer;
		width: 100%;
		text-align: center;
		z-index: 90;
	}
}

@include mQ(200px, 330px) {
	.modal-card {
		width: 280px;

		h2 {
			font-size: 22px;
		}

		p {
			font-size: 14px;
		}

		a.copyright {
			font-size: 14px;
		}
	}
}
