@import '../styles/styles.scss';

form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;

	input {
		@include font-size(16px, 26px);
		line-height: 26px;
		width: 90%;
		height: 70%;
		margin: auto 0;
		padding: 0.3em;
		outline: none;
		border: none;
		border-radius: 1em;
	}

	button {
		@include font-size(16px, 22px);
		width: 10%;
		margin: auto 0;
		background-color: transparent;
		outline: none;
		border: none;

		svg {
			@include size(34px, 50px);
			fill: var(--lightColor);
			cursor: pointer;
			transition: 0.5s;

			&:hover {
				transform: scale(1.1);
				fill: var(--alertColor);
			}
		}
	}
}
