@import '../styles/styles.scss';

form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;

	input {
		@include font-size(16px, 22px);
		width: 90%;
		padding-left: 0.5em;
		outline: none;
		border-radius: 1em;
		border: 2px solid var(--mainColor);
	}

	button {
		@include font-size(16px, 22px);
		width: 10%;
		background-color: var(--backgroundColor);
		outline: none;
		border: none;

		svg {
			@include size(34px, 50px);
			fill: var(--mainColor);
			cursor: pointer;
			transition: 0.5s;

			&:hover {
				transform: scale(1.1);
				fill: var(--alertColor);
			}
		}
	}
}
