.social-share {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0.5em auto;
	padding: 3.5em 4em 2em;
	background-color: var(--backgroundColor);
	border-radius: 10px;
	box-shadow: var(--shadow);

	&__element {
		display: flex;
		flex-direction: row;
		margin: 0.5em auto;
	}

	.close {
		position: absolute;
		top: 10px;
		right: 10px;

		svg {
			width: 1.8em;
			height: 1.8em;
			fill: var(--foregroundColor);
		}
	}
}

.social-share > * {
	margin-bottom: 1em;
}
